**/__pycache__
*.log

*.mp4
*.yuv
*.png
*.y4m
*.wav
*.csv
*.zip
*.json
*.npy

result/*
result/*.py
!result/
!result/gmm_4_new
!result/gmm_4_new/all_data_new_eval.csv
!result/gmm_4_new/all_data_new_eval.png

!data/
!data/*.json

onnx_model_for_evaluation

wandb
training_dataset_pickle/*

code/action*
code/eval_list*
code/checkpoints_iql
code/ablation
code/eval_loss
code/new_exp
code/new_trail
code/policy_model

/*.py
